@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");
* {
    margin: 0;
    padding: 0;
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: radial-gradient(
      rgb(234, 255, 99),
      rgb(236, 246, 110),
      rgb(237, 237, 122),
      rgb(239, 228, 133),
      rgb(241, 219, 145),
      rgb(242, 210, 156),
      rgb(244, 201, 168),
      rgb(245, 192, 179),
      rgb(247, 183, 191),
      rgb(249, 174, 202),
      rgb(250, 165, 214),
      rgb(252, 156, 225)
    );
  }

  .form{
    background-color: rgba(240, 248, 255, 0.625);
    display: flex;
    align-items: center;
    border-radius: 35px;
    width: 950px;
    height: 400px;
  }

  .form .button{
    padding: 100px;
    font-size: 25px;
    font-family: "Lobster Two", cursive;
    text-align: center;
  }

  .form .button a{
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 20px;
    background: rgb(252, 156, 225);
    
  }

  .form .button a:hover{
    background: rgba(237, 237, 122, 0.778);
    color: white;
    transition: 850ms;
    
  }

  .form .dimg img{
    border-radius: 35px;
    width: 425px;
    height: 400px;
  }